"*":
  "atom-terminal":
    app: "iterm2.app"
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin"
    erlangHome: "/usr/local/bin"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "vim-mode-plus-ex-mode"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    goPath: "/Users/holman/Code/go"
  "omnisharp-atom":
    altGotoDefinition: true
    enhancedHighlighting: true
    useLeftLabelColumnForSuggestions: true
    wantMetadata: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "tree-view": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
