"*":
  "atom-terminal":
    app: "iTerm.app"
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin"
    erlangHome: "/usr/local/bin"
  "autoupdate-packages":
    lastUpdateTimestamp: 1465171866949
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "vim-mode-plus-ex-mode"
      "atom-terminal-panel"
      "neon-cursor"
      "neon-selection"
      "symbols-tree-view"
      "talk-like-a-pirate"
      "tree-view-git-branch"
      "npm-outdated"
      "autoupdate-packages"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "file-icons": {}
  "go-plus":
    goPath: "/Users/holman/Code/go"
  "omnisharp-atom":
    altGotoDefinition: true
    enhancedHighlighting: true
    useLeftLabelColumnForSuggestions: true
    wantMetadata: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "tree-view": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
  "yuno-commit-plus": {}
